!!! 5
%html
  %head
    %title Realtime Example
    %link( rel="stylesheet" type="text/css" href="../../css/d3.tsline.css" )
    %link( rel="stylesheet" type="text/css" href="css/chart.css" )

    %script(type="text/javascript" src="../../js/d3.js")
    %script(type="text/javascript" src="../../js/d3.time.js")
    %script(type="text/javascript" src="../../js/d3.tsline.js")


  %body
    #container
      #chart

    %script(type="text/javascript" src="js/chart.js")
